<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>


<div class= "form-group">
<%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-default" %> |
<%= link_to 'Back', pins_path, class: "btn btn-default"%>
</div>